package com.${package.ModuleName}.controller;


import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.servlet.ModelAndView;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

import com.baomidou.mybatisplus.plugins.Page;
import com.wholesmart.common.web.JSONMessage;
import com.wholesmart.common.web.PageInfo;
import com.${package.ModuleName}.controller.BaseController;
import com.${package.ModuleName}.entity.${entity};
import com.${package.ModuleName}.service.${table.serviceName};
import io.swagger.annotations.ApiOperation;




/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author 
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} extends BaseController{
#end

   @Autowired
   private ${table.serviceName} serviceI;
   
   
   @ApiOperation(value="获取所有数据",httpMethod="POST",notes="获取所有数据")
   @RequestMapping("listAll")
   public JSONMessage listAll() {
	   List<${entity}> list = serviceI.selectList(null);
	   return JSONMessage.success("ok", list);
   } 
    
    
    @ApiOperation(value="保存或更新数据，对象带ID则认为更新数据",httpMethod="POST",notes="保存或更新数据")
    @RequestMapping(value="save",method = {RequestMethod.POST })
    public JSONMessage save(@RequestBody ${entity} ${table.entityPath}) {
        if (null==${table.entityPath}.getId()) {
        	boolean success = serviceI.insert(${table.entityPath});
            return JSONMessage.success("save success", success);
        } else {
        	boolean success = serviceI.updateById(${table.entityPath});
            return JSONMessage.success("update success", success);
        }
    } 

    @ApiOperation(value="删除一条数据",httpMethod="GET",notes="删除一条数据")
    @RequestMapping("/delete")
    public JSONMessage delete(@RequestParam(value="ids[]",required=true) String[] ids) {
    	boolean b = serviceI.deleteById(id);
        return JSONMessage.success("delete success",b);
    }
    

	@ApiOperation(value="批量删除$!{table.comment}数据",httpMethod="GET",notes="批量删除$!{table.comment}数据")
	@RequestMapping("/deleteBatch")
	public JSONMessage deleteBatch(@RequestParam(value="ids[]",required=true) List<Long> ids) {
		
		if(Validator.isNullOrEmpty(ids)) return JSONMessage.failure("ids is empty!");
		
		boolean b = serviceI.deleteBatchIds(ids);
		if(b) {
			return JSONMessage.success("delete success",b);
		}
		return JSONMessage.failure("delete failure");
	}
    
    @ApiOperation(value="得到分页数据列表,需要分页参数current和limit",httpMethod="GET",notes="得到分页数据列表,需要分页参数current和limit")
    @RequestMapping("/listPage")
     public JSONMessage listPage(PageInfo pageInfo) {
    	 Page<${entity}> page = serviceI.selectPage(new Page<>(pageInfo.getCurrent(), pageInfo.getLimit()));
         JSONMessage message = JSONMessage.success("success", page);
         return message;
     }
     
    
}
